<div class="full-span">
  <div class="full-span__bg" style="background-image: url(/images/hero-about.jpg);"></div>
  <div class="block block--hero">
    <h2 class="block__hero-caption">
      About Giuseppe's Italian Restaurant in <span class="no-wrap">Kingsport, TN</span>
    </h2>
  </div>
</div>
<div class="block">
  <p class="block__paragraph">In 1978, the Misciagna brothers, Mike and Raffaele opened their first pizzeria, Italian Village inside the Fort Henry Mall (Kingsport Town Centre'). With Italian Village being such a success, they opened their second restaurant, <strong>Giuseppe's</strong>. In 1987, Giuseppe's fine dining restaurant was created. Giuseppe's serves Italian food, as well as steak, seafood, and poultry.</p>
  <p class="block__paragraph">In 1993, the Misciagna brothers opened their third restaurant Raffaele's. Raffaele's is located in Colonial Heights. The Misciagna brothers take pride when preparing and serving high quality dinners, in addition to superior customer satisfaction. The restaurants always use fresh ingredients, top quality meats and seafood. Visit one of our three locations for great food and great atmosphere.</p>
  <p class="block__paragraph"><strong>Take a look around and come into Giuseppes Italian Restaurant sometime soon!</strong></p>
</div>
