<div class="full-span">
  <div class="full-span__bg" style="background-image: url(/images/hero-banquets.jpg);"></div>
  <div class="block block--hero">
    <h2 class="block__hero-caption">
      Banquets in <span class="no-wrap">Kingsport, TN</span>
    </h2>
  </div>
</div>
<div class="block">
  <p class="block__paragraph">Enjoy <strong>Giuseppe's</strong> dining experience by hosting your own special event in one of our two banquet room areas. Our rooms offer a comfortable, quiet place setting accompanied by superior service. The rooms are great for weddings, birthday parties, meeting or any other celebration. Let us help make your occasion enjoyable and stress free.</p>
</div>
