<div class="full-span">
  <div class="full-span__bg" style="background-image: url(/images/hero-catering.jpg);"></div>
  <div class="block block--hero">
    <h2 class="block__hero-caption">
      Italian Catering in <span class="no-wrap">Kingsport, TN</span>
    </h2>
  </div>
</div>
<div class="block">
  <p class="block__paragraph">At <strong>Giuseppe's</strong> our food is great it's cooked to order!</p>
  <p class="block__paragraph">We use only the freshest ingredients, whether it be homegrown herbs to fresh caught seafood. Giuseppe's has provided great dining for years, lunch or dinner. But now we're excited to offer catering and luncheons to go. That's right. You can have the same lunch and dinner specials we serve everyday at your home, office or place of business.</p>
  <p class="block__paragraph">If your Lunch hour is too short or you're just too busy to come in and sit down for a great meal… No Problem.</p>
</div>
