<div class="full-span">
  <div class="full-span__bg" style="background-image: url(/images/placeholder.jpg);"></div>
  <div class="block block--hero">
    <h2 class="block__hero-caption">
      Contact Giuseppe's Italian Restaurant <span class="no-wrap">Kingsport, TN</span>
    </h2>
  </div>
</div>
<div class="block  block--row">
  <div class="width width--50">
    <h3 class="block__subheader">
      Hours of Operation
    </h3>
    <p class="block__paragraph">
      Mon-Thu 11:00 AM - 10:00 PM<br>
      Fri 11:00 AM - 11:00 PM<br>
      Sat 4:00 PM - 11:00 PM<br>
    </p>
  </div>
  <div class="width width--50">
    <p class="block__paragraph">Please ask for Raffaele Misciagna or Ashlee Brice.</p>
  </div>
</div>
