<div class="full-span carousel">
  <div class="carousel__item"></div>
  <div class="block block--right">
    <div class="block__caption">
      Authentic Italian Restaurant in Kingsport, TN
    </div>
  </div>
</div>

<div class="block">
  <h2 class="block__header block__header--script">Benvenuto!</h2>
  <p>At Giuseppe's, our food is great because it's cooked to order! We use only the freshest ingredients, whether it be homegrown herbs to fresh caught seafood. Giuseppe's has provided great dining for years, lunch or dinner. But now, we're excited to offer catering and luncheons to go. That's right. You can get the same lunch and dinner specials we serve everyday at your home, office or place of business.</p>
  <p>When it's time to get away from the office or time for a special occasion with friends, Giuseppe's has newly remodeled banquet rooms that would be perfect for your next event, So, whether it's for lunch or dinner, board meeting or dinner party, let Giuseppe's make your next event the talk of the town.</p>
  <p>Take a look around and come into Giuseppe's Italian Restaurant sometime soon!</p>
</div>
