<div class="full-span">
  <div class="full-span__bg" style="background-image: url(/images/placeholder.jpg);"></div>
  <div class="block block--hero">
    <h2 class="block__hero-caption">
      Menu for Giuseppe's Italian Restaurant <span class="no-wrap">Kingsport, TN</span>
    </h2>
  </div>
</div>
<div class="block">
  <p class="block__paragraph">All of Giuseppe's meals are prepared to Order because We are Passionate about Great Food!</p>
  <p class="block__paragraph">
    <i class="material-icons">favorite</i> denotes healthy options.
  </p>
</div>
<div class="menu">
  <div class="menu__section" ng-repeat="menu in menuCtrl.items">
    <h3 class="menu__subheader">{{menu.section}}</h3>
    <div class="menu__items">
      <div class="menu__item" ng-repeat="item in menu.items">
        <div class="menu__item-details">
          <div class="menu__item-name">
            <i ng-if="item.healthy" class="material-icons">favorite</i> {{item.name}}
          </div>
          <div class="menu__item-price">{{item.price}}</div>
        </div>
        <div class="menu__item-description">{{item.description}}</div>
      </div>
    </div>
  </div>
</div>
