$content-max-width: 915px;
$ease-out: .3s ease-out;

@mixin hover {
  .no-touch &:hover {
    @content;
  }
}

// Buffers.
$buffer: 20px;
$twice-buffer: $buffer * 2;
$half-buffer: $buffer / 2;
$quarter-buffer: $buffer / 4;

// Colors.
$color-black-87: rgba(0, 0, 0, .87);
$color-black-38: rgba(0, 0, 0, .38);
$color-black-12: rgba(0, 0, 0, .12);

$color-burgandy: #7F313E;
$color-amber: #FFF8E1;
$color-white: #FFF;

$color-overlay: rgba(235,235,235,.8);

@mixin bg-gradient {
  background: $color-amber; /* Old browsers */
  background: -moz-linear-gradient(top, $color-white 0%, $color-amber 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $color-white 0%,$color-amber 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $color-white 0%,$color-amber 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-white', endColorstr='$color-amber',GradientType=0 ); /* IE6-9 */
}

// Font.
$font-stack: 400 16px/1.7em 'Montserrat Alternates', Arial, sans-serif;

$font-size-lg: 34px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-normal: 16px;
$font-size-x-sm: 14px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

// Masthead.
$masthead-height: 50px;
$logo-width: 225px;

// Breakpoints and media queries.
$breakpoint-mobile: 320px;
$breakpoint-tablet: 600px;
$breakpoint-sm-desktop: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-lg-desktop: 1800px;

@mixin mobile-up {
  @media only screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin sm-desktop-up {
  @media only screen and (min-width: $breakpoint-sm-desktop) {
    @content;
  }
}

@mixin desktop-up {
  @media only screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin lg-desktop-up {
  @media only screen and (min-width: $breakpoint-lg-desktop) {
    @content;
  }
}
