$content-max-width: 900px;
$ease-out: .3s ease-out;

// Buffers.
$buffer: 20px;
$twice-buffer: $buffer * 2;
$half-buffer: $buffer / 2;
$quarter-buffer: $buffer / 4;

// Colors.
$color-black-87: rgba(0,0,0,.87);
$color-black-38: rgba(0,0,0,.38);
$color-black-12: rgba(0,0,0,.12);

$color-burgandy: #7F313E;
$color-amber: #FFF8E1;
$color-green: #827717;
$color-white: #FFF;

$color-overlay: $color-black-12;
$color-bg-gradient: linear-gradient(to bottom, $color-white 0%, $color-amber 100%);

// Font.
$font-stack: 400 16px/1.7em 'Montserrat Alternates', Arial, sans-serif;

$font-size-x-lg: 34px;
$font-size-lg: 24px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-x-sm: 14px;
$font-size-x-x-sm: 12px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

// Masthead.
$masthead-height: 50px;
$logo-height: 80px;

// Breakpoints and media queries.
$breakpoint-mobile: 320px;
$breakpoint-tablet: 600px;
$breakpoint-sm-desktop: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-lg-desktop: 1800px;

@mixin mobile-up {
  @media only screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin sm-desktop-up {
  @media only screen and (min-width: $breakpoint-sm-desktop) {
    @content;
  }
}

@mixin desktop-up {
  @media only screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin lg-desktop-up {
  @media only screen and (min-width: $breakpoint-lg-desktop) {
    @content;
  }
}
