html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  color: $color-black-87;
  font: $font-stack;
  height: 100%;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
}

.material-icons {
  font-style: normal !important;
  font-size: inherit;
  color: inherit;
}

button {
  border: 0;
  background: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a:active,
a:focus,
button:active,
button:focus
select:active,
select:focus {
  outline: 1px dotted $color-black-87;
}

a {
  color: $color-green;
  text-decoration: none;
}

strong {
  font-weight: $font-weight-bold;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.main-content {
  flex: 1;
  background: $color-bg-gradient;
}

.texture-bg {
  background: url(/images/subtle_white_feathers.png) repeat;
  padding-bottom: $buffer;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

::-moz-selection {
  color: $color-amber;
  background: $color-burgandy;
}

::selection {
  color: $color-amber;
  background: $color-burgandy;
}
