.width {
  padding: 0 $buffer;
  margin: $twice-buffer auto;

  @include tablet-up {
    margin: 0;
  }

  &--50 {
    min-width: 100%;
    max-width: 100%;

    @include tablet-up {
      min-width: 50%;
      max-width: 50%;
    }
  }
}

.block {
  max-width: $content-max-width;
  margin: $twice-buffer auto;
  padding: 0 $buffer;
  position: relative;

  &--row {
    padding: 0;
    flex-wrap: wrap;

    @include tablet-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &--hero {
    display: flex;
    justify-content: center;
    max-width: 800px;
  }

  &__hero-caption {
    background: $color-black-38;
    padding: $buffer;
    color: $color-white;
    font-size: $font-size-x-lg;
    line-height: 1.25em;
    font-weight: $font-weight-light;
    text-align: center;
  }

  &__header {
    margin: $buffer 0;
    line-height: 1.125em;
    font-size: $font-size-x-lg;
    font-weight: $font-weight-light;
    color: $color-green;
  }

  &__subheader {
    font-size: $font-size-lg;
    margin: $buffer 0;
    line-height: 1.125em;
    font-weight: $font-weight-regular;
    color: $color-burgandy;
  }

  &__caption {
    font-size: $font-size-sm;
    color: $color-green;
  }

  &__paragraph {
    margin: $buffer 0;

    &--row {
      margin: 0;
      display: flex;
      flex-wrap: nowrap;
    }

    &-row-item {
      margin-right: $half-buffer;
      display: inline-block;
    }
  }

  &__footnote {
    border-top: 1px solid $color-black-12;
    padding-top: $buffer;
    margin-bottom: $buffer;
    font-size: $font-size-x-sm;
    line-height: 1.7em;

    @include tablet-up {
      display: flex;
      justify-content: space-between;
    }
  }
}

.embed {
  position: relative;

  &__wrapper {
    position: relative;
    padding-bottom: (9 / 16) * 100%;
  }

  &__iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
  }
}

.full-span {
  background: $color-black-87;
  position: relative;
  padding: $buffer 0;
  align-items: center;
  display: flex;

  @include sm-desktop-up {
    min-height: 400px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

.no-wrap {
  white-space: nowrap;
}
