.width {
  padding: 0 $buffer;
  margin: $twice-buffer auto;

  @include tablet-up {
    margin: 0;
  }

  &--50 {
    width: 100%;

    @include tablet-up {
      width: 50%;
    }
  }
}

.block {
  max-width: $content-max-width;
  margin: $twice-buffer auto;
  padding: 0 $buffer;
  position: relative;

  &--row {
    padding: 0;

    @include tablet-up {
      display: flex;
      justify-content: space-between;
    }
  }

  &--right {
    display: flex;
    justify-content: center;

    @include tablet-up {
      justify-content: flex-end;
    }
  }

  &__caption {
    background: $color-black-38;
    padding: $buffer;
    color: $color-white;
    font-size: $font-size-lg;
    line-height: 1.25em;
    font-weight: $font-weight-light;

    @include tablet-up {
      max-width: 300px;
    }
  }

  &__header {
    margin: $buffer 0;
    line-height: 1.125em;
    font-size: $font-size-lg;
    font-weight: $font-weight-light;
    color: $color-green;

    &--script {
      font-family: 'Italianno', cursive;
      font-size: $font-size-lg * 3;
      color: $color-green;
      line-height: 1;
      transform: rotate(-4deg);
      position: relative;
      left: -$buffer;
      margin: 0;
    }
  }

  &__subheader {
    font-size: $font-size-md;
    margin: $buffer 0;
    line-height: 1.125em;
    font-weight: $font-weight-regular;
    color: $color-burgandy;
  }

  &__paragraph {
    margin: $buffer 0;
  }
}

.embed {
  position: relative;

  &__wrapper {
    position: relative;
    padding-bottom: (9 / 16) * 100%;
  }

  &__iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
  }
}

.full-span {
  background: $color-black-87;
  position: relative;
  padding: $buffer 0;
}
