.nav {
  background: $color-overlay;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  transition: all $ease-out;
  opacity: 0;
  flex: 1;
  text-align: left;
  visibility: hidden;
  z-index: 1;

  @include sm-desktop-up {
    display: none;
  }

  &--isActive {
    opacity: 1;
    visibility: visible;
  }

  &--desktop {
    display: none;
    background: none;
    box-shadow: none;
    position: relative;
    opacity: 1;
    visibility: visible;

    @include sm-desktop-up {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__content {
    box-shadow: 0 0 5px 1px $color-black-12;
    width: 320px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: $color-bg-gradient;
    padding-bottom: $buffer;
  }

  &__header {
    height: $masthead-height;
    position: relative;
    background: $color-burgandy;
  }

  &__item {
    display: block;
    color: $color-black-38;
    font-size: $font-size-lg;
    text-decoration: none;
    margin: 0 $buffer;
    border-bottom: 1px solid $color-black-12;
    font-weight: $font-weight-light;
    padding: $buffer 0;
    position: relative;
    transition: all $ease-out;

    &--isActive {
      color: $color-burgandy;
      border-color: $color-burgandy;
    }

    &:hover {
      color: $color-burgandy;
      border-color: $color-burgandy;
    }

    &--desktop {
      display: inline-block;
      border: none;
      color: $color-white;
      letter-spacing: 1px;
      line-height: $masthead-height;
      font-size: $font-size-x-x-sm;
      font-weight: $font-weight-bold;
      padding: 0 $buffer;
      margin: 0;

      &--isActive {
        background-color: $color-black-12;
      }

      &:hover {
        color: $color-white;
        background-color: $color-black-12;
      }
    }
  }
}
